{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
 <h2>Login</h2> 
 
 <p>Username: admin</p>
 <p>Password: 1234</p>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }} </p>
  {% endif %} 
<form action="{{ url_for('login') }}" method=post> 
<dl> 
    <dt>Username: 
    <dd><input type=text name=username> 
    <dt>Password: 
    <dd><input type=password name=password> 
    <dd><input type=submit value=Login> 
</dl> </form>


<h1>Navigate to <a href="/files">uploads page</a></h1>
{% endblock %}
